.DataTable {

    padding: 5%;

    margin: 5%;

    border-radius: 29px;

}

 

.botones {

    margin-top: -30px;

    margin-right: 5%;

    display: flex;

    justify-content: flex-end;

}

 

@media (max-width: 768px) {

    .botones {

        flex-direction: column;

        align-items: flex-end;

    }

}

 

.boton1 {

    background-color: #323333;

    height: 50.74px;

    width: 200px;

    border-radius: 30px;

    display: block;

    padding: 0.5rem 1rem;

    margin: 0.5rem;

    color: white;

    font-size: medium;

}

 

.imagen-circular {

    width: 100px;

    height: 100px;

}

 

/*AJUSTE LCPG INI borrar boton2*/

.Checkbox_estado_ped {

    padding: 5px;

}

 

.Edit-ped {

    background-color: #878787;

    color: white;

}

 

.Crear-ped {

    background-color: #878787;

    color: white;

}

 

.Guardar-btn-ped {

    background-color: #323333;

    border-radius: 30px;

    padding-left: 20px;

    padding-right: 20px;

    font-size: 20px;

    font-size: medium;

}

 

.Img-Creamos_ped {

    width: 200px;

    height: 100px;

    margin: auto;

    display: block;

}

/*AJUSTE LCPG FIN*/